.site-footer {
    padding: 10px 25px;
}

@media (min-width: 800px) {
    .site-footer {
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
}

.site-footer-nav {
    display: flex;
    justify-content: center;
    list-style: none;
}

.site-footer-nav-link {
    display: block;
    color: var(--colour-link);
    text-decoration: none;
    padding-left: 25px;
}

.footer-nav-link:hover {
    color: #ff0;
}